#root {
  margin: 0 0 0 0;
  background-image: url("./src/assets/image/seamless_background.jpg"); /* Image path */
  background-position: top; /* Centers the image */
}

@media (max-width: 600px) {
  #title {
    font-size: 28px; /* Decrease font size for mobile */
  }
}